[data-theme="light"] {
  --color-primary: theme("colors.pink.500");
  --color-secondary: #685e53;
  --color-text: #832F53;
  --color-text-offset:  #561c24;
  --color-background: theme("colors.gray.50");
  --color-background-offset: theme("colors.gray.100");
  --color-border: theme("colors.gray.900" / 10%);
  --color-background-title-6: rgba(86, 28, 36, 0.4);
  --color-background-title-9: rgba(86, 28, 36, 0.7);
}

[data-theme="dark"] {
  --color-primary: theme("colors.pink.500");
  --color-text: #ffffff;
  --color-secondary: #cbcbcb;
  --color-text-offset:  #C7B7A3;
  --color-background: #561c24;
  --color-background-offset: #832F53;
  --color-border: theme("colors.gray.50" / 10%);
  --color-background-title-6: rgba(86, 28, 36, 0.6);
  --color-background-title-9: rgba(86, 28, 36, 0.9);
}
