[data-theme="light"] {
  --color-primary: theme("colors.blue.500");
  --color-text: #ffffff;
  --color-secondary: #d1d5db; /* gris claro */
  --color-text-offset:  #9ca3af; /* gris medio */
  --color-background: #1e293b; /* gris azulado oscuro */
  --color-background-offset: #334155; /* tono intermedio */
  --color-background-partners: #334155;
  --color-border: theme("colors.gray.50" / 10%);
  --color-background-title-6: rgba(30, 41, 59, 0.6);
  --color-background-title-9: rgba(30, 41, 59, 0.9);
}

[data-theme="dark"] {
  --color-primary: theme("colors.blue.500");
  --color-text: #ffffff;
  --color-secondary: #d1d5db; /* gris claro */
  --color-text-offset:  #9ca3af; /* gris medio */
  --color-background: #1e293b; /* gris azulado oscuro */
  --color-background-offset: #334155; /* tono intermedio */
  --color-background-partners: #334155;
  --color-border: theme("colors.gray.50" / 10%);
  --color-background-title-6: rgba(30, 41, 59, 0.6);
  --color-background-title-9: rgba(30, 41, 59, 0.9);
}
