---
import { Icon } from "astro-icon/components";
import ContentSection from "./content-section.astro";
import type { FeatureItem } from "../types";

const features: Array<FeatureItem> = [
  {
    title: "Obsequios y Regalos",
    description: "De la mano de nuestras pymes y colaboradores",
    icon: "mdi:gift",
  },
  {
    title: "Cenas",
    description:
      "Sorteo de 3 cenas para 2 personas, a criterio de los ganadores de la ruta",
    icon: "mdi:food",
  }
];
---

<ContentSection title="Sorteos" id="sorteos">
  <Fragment slot="lead">
    La Ruta estará llena de <span class="text-primary">obsequios, regalos y premios</span> entre los participantes que voten.
  </Fragment>
  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-2">
    {
      features.map(({ title, description, icon }) => (
        <li class="flex flex-col items-center gap-4 border border-default bg-offset p-6 h-full" style="border-radius: 10px">
          <div class="size-16 rounded-full border-2 border-current p-3">
            <Icon name={icon} class="size-full" />
          </div>
          <p class="text-center font-extrabold text-xl">{title}</p>
          <p class="text-center text-offset text-sm">{description}</p>
        </li>
      ))
    }
  </ul>
</ContentSection>
